


*.class
build/
bin/
target/
out/
WebContent/WEB-INF/classes/com/
WebContent/WEB-INF/classes*.class
netbanking/build/
netbanking/WebContent/WEB-INF/classes/com/
netbanking/WebContent/WEB-INF/classes*.class


*.war
*.ear
.tools/




db.properties
**/db.properties
WebContent/WEB-INF/classes/db.properties
netbanking/WebContent/WEB-INF/classes/db.properties
database.properties
connection.properties
*.env
*.env.*
.env
.env.*
.env.local




WebContent/static/uploads/
netbanking/WebContent/static/uploads/




.vscode/
netbanking/.vscode/
.classpath
.project
.settings/
.idea/
*.iml




.DS_Store
Thumbs.db

